.alert-box {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}
.success {
    background: palegreen;
    color: green;
}
.primary {
    background: #d3bdff;
    color: purple;
}
.danger {
    background: #ff9898;
    color: darkred;
}
.warning {
    background: #ffd891;
    color: #9e4727;
}
.closeAlert {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}
.closed {
    display: none;
}