.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0 0 50px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
h3 {
    text-align: left;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid grey;
    color: dimgrey;
}
.close {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}
.close:hover {
    color: red;
}
p {
    color: grey;
}

